h1 {
    text-align: center;
}
.flex-wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.card {
    background-color: antiquewhite;
    width: 26%;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 5px;
}
.card h2 {
    text-align: center;
}